.recipe-card{
  margin-top:20px;
  margin-bottom: 20px;
  width: 95%;
  height: 650px;
  border-radius: 29px;
  background: rgb(194,249,233);
  background: linear-gradient(164deg, rgba(194,249,233,1) 18%, rgba(228,217,241,1) 49%, rgba(199,241,229,1) 69%);
}
 
.food-picture {
  margin-top: -30px;
  
}

.food-picture img {
  border-radius: 20px;
  width:270px;
  height: 150px;
}

.card-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card p {
  text-align: left;
  width: 85%;
}

.chart {
  display: flex;
  justify-content: space-around;
  margin-top:-28px;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top:15px;
}

.proteina{
  width: 20px;
  height: 20px;
  background: #0088FE;
  border-radius: 50px;
  margin-right: 10px;
}

.grasa{
  width: 20px;
  height: 20px;
  background: #00C49F;
  border-radius: 50px;
  margin-right: 10px;

}

.carbohidrato{
  width: 20px;
  height: 20px;
  background: #FFBB28;
  border-radius: 50px;
  margin-right: 10px;

}

.recipe-description{
  display: flex;
  justify-content: space-around;

}

.detail-position{
  margin-top: 30px;
}

.details-ingredients{
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.ingredient-name{
  font-size: 20px;
  font-weight: bold;
}

.ingredient-quantity{
  font-size: 15px;
  font-style: italic;
}

#menu-detail{
  margin-top: 0;
}