.auth-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-image{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558388000/imgs3P/pexels-photo-2209596_p1etfe.jpg");
    background-size: 300%;
    background-position: left top;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.back-color{
    background-color: #28CC9E;
    background-position: center top;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.logo {
    width: 100px;
    height: 158.42px;
}

.Buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    margin-top: 50%;
}

.Buttons div {
    margin-top:10px;
    margin-bottom:10px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.login-button {
    border-width: 3px;
    width:200px;
    height: 40px;
    padding-top: 5px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    color:white;

}

.signup-button {
    background: white;
    width:200px;
    height: 40px;
    padding-top: 5px;
    border-radius: 30px;
    color: #28CC9E;
}