 .stores{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .store-card{
   margin-top: 30px;
 }

 .stores-body{
   background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(196,233,236,1) 95%, rgba(255,255,255,1) 116%);
 }