.recipe-list{
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}

.table-position{
    display:flex;
    justify-content: center;
}

.add-button{
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-position{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:5px;
}

.recipe-list div {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    text-align: left
}

.preview-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 150px;;
    
}

.recipe-title {
    width: 100%;
    height: 30%;
    color:white;
    background: linear-gradient(to left, rgba(255,255,255,0), black);
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
