.menu-body {
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(196,233,236,1) 95%, rgba(255,255,255,1) 116%);
}


.button-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.button-menu div{
    width:93%;
    height: 120px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    color: white;
    font-size:20px;
    display:flex;
}
.button-menu div p {
    margin-left: 15px;
    margin-top: 8px;
}

.logo-menu {
    width: 130px;
    height: 36px;
}

.logout-button{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-left: 20px;
    width:200px;

}

.button-recipe{
    background-image: url("../../images/recetas.png");
    background-position: right;
}

.button-reto{
    background-image: url("../../images/retos.png");
    background-position: right;
}

.button-ejercicio{
    background-image: url("../../images/ejercicios.png");
    background-position: right;
}

.button-shops{
    background-image: url("../../images/tienda.png");
    background-position: right;
}

.button-profile{
    background-image: url("../../images/perfil.png");
    background-position: right;
}