.menu-body {
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(196,233,236,1) 95%, rgba(255,255,255,1) 116%);
}


.button-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.button-menu div{
    width:93%;
    height: 120px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    color: white;
    font-size:20px;
    display:flex;
}
.button-menu div p {
    margin-left: 15px;
    margin-top: 8px;
}

.logo-menu {
    width: 130px;
    height: 36px;
}

.logout-button{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.button-recipe{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558387999/imgs3P/recetas_xvisti.png");
    background-position: right;
}

.button-reto{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558387999/imgs3P/retos_n5pcqg.png");
    background-position: right;
}

.button-ejercicio{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558387998/imgs3P/ejercicios_hxy4rh.png");
    background-position: right;
}

.button-shops{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558387998/imgs3P/tienda_i2a11e.png");
    background-position: right;
}

.button-profile{
    background-image: url("https://res.cloudinary.com/djkjuiyan/image/upload/v1558387999/imgs3P/perfil_n4dqkf.png");
    background-position: right;
}
.button-enter{
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 15px;

}

.sticky-menu{
    position: -webkit-sticky;
    position:sticky;
    bottom: 0rem;
    align-self: flex-end;
}