.challenges{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-card{
  margin-top: 30px;
}

.challenge-body{
  background: rgb(247,247,247);
  background: linear-gradient(0deg, rgba(247,247,247,1) 35%, rgba(215,113,224,1) 106%);
}

.button-link{
  width: 80%;
  height: 50px;
  font-size: 20px;
  background: #00b300;
  color:white;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left:20px;
  margin-right: 20px;
}

.challenge-name{
  font-size: 20px;
  margin-top:5px;
  margin-bottom: 10px;
}

.duration-challenge{
  margin-top:5px;
  margin-bottom: 10px;
}