.bottom-menu{
  width:100%;
  height: 70px;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(99,99,99,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color:white;

}

.link{
  color:white;
}

.link:visited{
  color:white;
}

.bottom-menu div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-menu p{
  font-size: 12px;
}