.login-body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back-image-login{
    background-image: url("../../images/pexels-photo-2209596.jpeg");
    background-size: 300%;
    background-position: left top;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.back-color-login{
    background-color: #F1E4E8;
    background-position: center top;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.logo2 {
    width: 80px;
    height: 130px;
    margin-top: 150px;
}

.Buttons-login{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    margin-top: 95%;
}

.Buttons-login div {
    margin-top:10px;
    margin-bottom:10px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.login-button-login {
    background: white;
    color: #28CC9E;

}
.username-button-login {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(36, 47, 99);
    color:white;
    color:rgb(58, 153, 140);
}

.password-button-login {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(36, 47, 99);;
    color:rgb(58, 153, 140);
}
